<!DOCTYPE html>
<html>

<header>
    <h1>Hello this is Sample Heading in the header of html.</h1>
    <p>a paragraph can be part of the header too and not just the body of html.</p>
<nav>
  <a href="/html/">HTML</a> |
  <a href="/css/">CSS</a> |
  <a href="/js/">JavaScript</a> |
  <a href="/jquery/">jQuery</a>
</nav>

</header> 

<body>
<br>
<br>
The content of the body element is displayed in your browser.
<br>
<br>

<TABLE width ="100%" border="solid">
<TBODY>
<TR>
<TD>This is the Left Side of the Table</TD>
<TD>This is the Right Side of the Table</TD>
</TR>
</TBODY>
</TABLE>

<br>
<br>

</body>

<br>

<footer>
  <p>Posted by: Hege Refsnes</p>
  <p>Contact information: <a href="mailto:someone@example.com">
  someone@example.com</a>.</p>
</footer>
</html>

